
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Anuncios</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span>Grupo</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="estMatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Todos
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Todos</a></li>
							    <li><a href="#">10-B</a></li>
							    <li><a href="#">10-C</a></li>
							    <li><a href="#">9-B</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable anunTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/anuncios_admin.js"></script>