
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text">GESTIÓN DE AULA CLOUDLABS</span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1>Anuncios</h1>
			</div>
			<br>
			<div id="jsGrid" class="jsGridTable anunEstTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/anuncios_user.js"></script>