<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text spanTitCont"></span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1></h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span id="groupSpan"></span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div id="groupsDropDown" class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
			  	<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span id="subjectLabel"></span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div id="subjectsDropDown" class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span id="typeSpan"></span>
				  		</div>
				  		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="tipoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" id="tipoDropdown-estudiante"></a></li>
							    <li><a href="#" id="tipoDropdown-practica"></a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div class="row controlBar">
				<div class="col-xs-10 col-sm-7 col-md-7 col-lg-6">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-3 col-sm-4 col-md-4">
								<i id="dateFilterBtn" class="fa fa-square-o" aria-hidden="true"></i>
								<span id="datesLabel"></span>
					  		</div>
					  		<div class="col-xs-9 col-sm-8 col-md-8 inputContDropDown">
								<input id="evalDatePicker" type="text" name="daterange" value="" style="width:100%" />
					  		</div>
						</div>
					</div>
				</div>	
				<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
					<div class="containerDropDown">
						<div class="row" style="text-align:center">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
								    <button id="dlExcelReport" type="button" class="btn btn-primary" data-toggle="popover">
								        <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>
								    </button>
								    <a id="btnDownLXL" href="" target="_blank"></a>
						  		</div>
						  		<div class="col-xs-6 col-sm-6 col-md-6" style="text-align: left;">
								    <button id="dlGeneralConsReport" type="button" class="btn btn-primary" data-toggle="popover">
								        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
								    </button>
						    		<a id="btnDownLPdf" href="" target="_blank" style="display: none;"></a>
						  		</div>
							</div>
							<!--
							<div id="dlEvalPopOver" class="row" style="padding:4px 10px 4px 10px">
							</div>
							
							<button id="dlGeneralEvalReport" type="button" class="btn btn-primary" data-toggle="popover">
								<i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
							</button>
							-->
						</div>
					</div>  
				</div>
			</div>
			<div class="row controlBar">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
								<span id="nameLabel"></span>
					  		</div>
					  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
								<select id="nomSelect" class="select2" data-type="est" style="width:100%">
								</select>
					  		</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
								<span id="perfLabel"></span>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 inputContDropDown">
								<span id="avanInd" style="font-weight: 700"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-6 col-sm-7 col-md-5 col-lg-5">
								<span id="avgLabel"></span>
							</div>
							<div class="col-xs-6 col-sm-5 col-md-7 col-lg-7 inputContDropDown">
								<span id="promInd" style="font-weight: 700"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="jsGrid" class="jsGridTable consTable"></div>
	        <!-- <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Dropdown
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div> -->
		</div>
	</section>
</div>


<div id="practInfoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
		        <h4 class="modal-title" id="pracLabel"></h4>
        	</div>
        	<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 labelStateCont">
		        <span class="labelState"></span>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
        	<div class="col-sm-7">
		        <div class="input-group">
				  <span id="unidadLabel" class="input-group-addon" id="basic-addon1"></span>
				  <input id="cUnidad" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
        	</div>
        </div>
      	<div class="row form-group">
        	<div class="col-sm-6">
		        <div class="input-group">
				  <span id="fEntrLabel" class="input-group-addon" id="basic-addon1"></span>
				  <input id="fEntrega" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="input-group">
				  <span id="tEntregaLabel" class="input-group-addon" id="basic-addon1"></span>
				  <input id="tEntrega" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
        	</div>
        </div>
        <div class="row form-group">
			<div class="col-sm-4">
		        <div class="input-group">
				  <span id="nProfesorLabel" class="input-group-addon" id="basic-addon1" data-toggle="tooltip" data-placement="right"></span>
				  <input id="nProfesor" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-sm-4">
		        <div class="input-group">
				  <span id="nAppLabel" class="input-group-addon" id="basic-addon1" data-toggle="tooltip" data-placement="right"></span>
				  <input id="nApp" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-sm-4">
		        <div class="input-group">
				  <span id="nFinalLabel" class="input-group-addon" id="basic-addon1" data-toggle="tooltip" data-placement="right"></span>
				  <input id="nFinal" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>	
		<div class="row form-group">
			<div class="col-sm-3">
				<div class="input-group">
				  <span id="nIntentLabel" class="input-group-addon" id="basic-addon1"></span>
				  <input id="numInten" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
		<br>
		<h6 id="obsrvLbl" class="field-label"></h6>
		<textarea id="obsrv" class="form-control only-read" rows="3"></textarea>
		
      </div>
      <div class="modal-footer">
        <button id="mdlCloseBtn" type="button" class="btn btn-default" data-dismiss="modal"></button>
        <a id="aBtnDownL" href="" target="_blank">
	        <button id="btnDownL" type="button" class="btn btn-primary"></button>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/consultas.js"></script>