<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Consultas</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-6 col-sm-6 col-md-7 col-lg-5">
							<span>Por tipo</span>
				  		</div>
				  		<div class="col-xs-6 col-sm-6 col-md-5 col-lg-7 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="tipoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Práctica
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" id="tipoDropdown-practica">Práctica</a></li>
							    <li><a href="#" id="tipoDropdown-estudiante">Estudiante</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
			  	<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-4 col-md-4">
							<span>Fechas</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-8 col-md-8 inputContDropDown">
							<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" style="width:100%" />
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span>Grupo</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="estMatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    11-A
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">10-B</a></li>
							    <li><a href="#">10-C</a></li>
							    <li><a href="#">9-B</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
			  	<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span>Materia</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="estMatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Matemáticas
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Matemáticas</a></li>
							    <li><a href="#">Física</a></li>
							    <li><a href="#">Química</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div class="row controlBar">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
								<span>Nombre</span>
					  		</div>
					  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
								<div class="dropdown">
								  <button class="btn btn-primary dropdown-toggle" type="button" id="estMatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								    Ondas estacionárias
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#">Extensiometria y transductores</a></li>
								    <li><a href="#">Péndulo balístico</a></li>
								    <li><a href="#">Medida de la potencia de pedaleao</a></li>
								  </ul>
								</div>
					  		</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-6 col-sm-7 col-md-5 col-lg-5">
								<span>Avance</span>
							</div>
							<div class="col-xs-6 col-sm-5 col-md-7 col-lg-7 inputContDropDown">
								<span style="font-weight: 700">50%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="containerDropDown">
						<div class="row">
							<div class="col-xs-6 col-sm-7 col-md-5 col-lg-5">
								<span>Promedio</span>
							</div>
							<div class="col-xs-6 col-sm-5 col-md-7 col-lg-7 inputContDropDown">
								<span style="font-weight: 700">3.5</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="jsGrid" class="jsGridTable consTable"></div>
	        <!-- <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Dropdown
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div> -->
		</div>

	</section>
</div>
<script src="assets/js/consultas.js"></script>