
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text spanTitCont"></span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1></h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
				<div id="gDropDownCont" class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span id="groupsLabel"></span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div id="groupsDropDown" class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable mGroupsTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/grupos.js"></script>