
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text">GESTIÓN DE AULA CLOUDLABS</span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1>Lista de laboratorios</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
				<div id="gDropDownCont" class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span>Materias</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div id="labsDropDown" class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
				<div class="containerDropDown">
			  		<div class="row" style="text-align: center;margin-right: 0px;">
			  			<button id="uploadLabs" type="button" class="btn btn-primary" data-toggle="tooltip" title="Ir al ranking global"  data-placement="bottom" style="margin-left:5px">
							<i class="fa fa-upload fa-2x" aria-hidden="true"></i>
						</button>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable"></div>
		</div>

	</section>
</div>
<div id="modalUploadLabs" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title">Cargar lista de laboratorios</h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="form-group">
	        <form id="uploadLabsForm" action="" method="POST">
				<h6 class="field-label">Cargar laboratorios</h6>
				<input id="inpFile" type="file" name="labs_file" class="btn btn-default">
			</form>
			<button id="btnUploadLabs" class="btn btn-primary">Subir</button>
		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/laboratorios.js"></script>