<div class="login-page">
	<h3 class="loginTitle">Gestor de aula CloudLabs</h3>
	<div class="form">
		<img src="../assets/img/cl-header.png">
		<div class="login-form default-form">
			  <input id="userInput" type="text" placeholder="Usuario" autocomplete="off"/>
			  <input id="passInput" type="password" placeholder="Contraseña" autocomplete="new-password"/>
			  <button id="loginBtn" style="font-weight: bold;">
			  	Iniciar Sesión
			  </button>
		</div>
	</div>
	<div class="footLogoLoginFormCont">
		<img src="../assets/img/ie-footer.png" class="footLogoLoginForm">
	</div>
</div>
<script src="assets/js/login.js"></script>
