<!-- Header -->
<div id="header">

	<div class="top">

		<div id="logo">
			<h1 id="nav-title">Nombre</h1>
			<p id="nav-rol">Estudiante</p>
		</div>

		<nav id="nav">
			<ul>
				<li id="est-li" class="nav-menu-li est-rol">
					<a href="#" id="pract-link" class="skel-layers-ignoreHref active">
						<span class="icon fa-flask">Prácticas</span>
					</a>
				</li>
				<li id="cons-li" class="nav-menu-li pro-rol">
					<a href="#" id="cons-link" class="skel-layers-ignoreHref">
						<span class="icon fa-book">Consultas</span>
					</a>
				</li>
				<li id="eval-li" class="nav-menu-li pro-rol">
					<a href="#" id="eval-link" class="skel-layers-ignoreHref">
						<span class="icon fa-edit">Evaluación</span>
					</a>
				</li>
				<li id="rank-li" class="nav-menu-li est-rol pro-rol">
					<a href="#" id="rank-link" class="skel-layers-ignoreHref">
						<span class="icon fa-trophy">Ranking</span>
					</a>
				</li>
				<li id="anun-li" class="nav-menu-li est-rol pro-rol">	
					<a href="#" id="anun-link" class="skel-layers-ignoreHref">
						<span class="icon fa-bullhorn">Anuncios</span>
					</a>
				</li>
				<li id="mgrp-li" class="nav-menu-li pro-rol">
					<a href="#" id="mgrp-link" class="skel-layers-ignoreHref">
						<span class="icon fa-group">Mis grupos</span>
					</a>
				</li>
				<li id="usrs-li" class="nav-menu-li adm-rol sad-rol">
					<a href="#" id="usrs-link" class="skel-layers-ignoreHref">
						<span class="icon fa-group">Usuarios</span>
					</a>
				</li>
				<li id="grps-li" class="nav-menu-li adm-rol sad-rol">
					<a href="#" id="grps-link" class="skel-layers-ignoreHref">
						<span class="icon fa-list">Grupos</span>
					</a>
				</li>
				<li id="mtrs-li" class="nav-menu-li adm-rol sad-rol">
					<a href="#" id="mtrs-link" class="skel-layers-ignoreHref">
						<span class="icon fa-book">Materias</span>
					</a>
				</li>
				<li id="labs-li" class="nav-menu-li adm-rol sad-rol">
					<a href="#" id="labs-link" class="skel-layers-ignoreHref">
						<span class="icon fa-flask">Laboratorios</span>
					</a>
				</li>
				<li id="conf-li" class="nav-menu-li sad-rol">
					<a href="#" id="conf-link" class="skel-layers-ignoreHref">
						<span class="icon fa-cog">Configuración</span>
					</a>
				</li>
				<li id="serv-li" class="nav-menu-li adm-rol">
					<a href="#" id="serv-link" class="skel-layers-ignoreHref">
						<span class="icon fa-cog">Servidor</span>
					</a>
				</li>
				<li id="cses-li" class="nav-menu-li est-rol pro-rol adm-rol sad-rol">
					<a href="#" id="cses-link" class="skel-layers-ignoreHref">
						<span class="icon fa-close">Cerrar Sesión</span>
					</a>
				</li>
			</ul>
		</nav>

	</div>

	<div class="bottom skel-layers-ignoreHref active">

		<!-- Social Icons -->

	</div>

</div>
<div id="section"></div>
<script src="assets/js/main.js"></script>