<!-- Header -->
<div id="header">

	<div class="top">

		<div id="logo">
			<h1 id="nav-title">Nombre</h1>
			<p id="nav-rol">Estudiante</p>
		</div>

		<nav id="nav">
			<ul>
				<li id="est-li" class="nav-menu-li est-rol">
					<a href="#" id="pract-link" class="skel-layers-ignoreHref active">
						<span class="icon fa-book">Prácticas</span>
					</a>
				</li>
				<li id="cons-li" class="nav-menu-li pro-rol adm-rol sad-rol">
					<a href="#" id="cons-link" class="skel-layers-ignoreHref">
						<span class="icon fa-book">Consultas</span>
					</a>
				</li>
				<li id="eval-li" class="nav-menu-li pro-rol adm-rol">
					<a href="#" id="eval-link" class="skel-layers-ignoreHref">
						<span class="icon fa-edit">Evaluación</span>
					</a>
				</li>
				<li id="rank-li" class="nav-menu-li est-rol pro-rol adm-rol sad-rol">
					<a href="#" id="rank-link" class="skel-layers-ignoreHref">
						<span class="icon fa-trophy">Ranking</span>
					</a>
				</li>
				<li id="anun-li" class="nav-menu-li est-rol pro-rol adm-rol">	
					<a href="#" id="anun-link" class="skel-layers-ignoreHref">
						<span class="icon fa-feed">Anuncios</span>
					</a>
				</li>
				<li id="mgrp-li" class="nav-menu-li pro-rol">
					<a href="#" id="mgrp-link" class="skel-layers-ignoreHref">
						<span class="icon fa-group">Mis grupos</span>
					</a>
				</li>
				<li id="cses-li" class="nav-menu-li est-rol pro-rol adm-rol sad-rol">
					<a href="#" id="cses-link" class="skel-layers-ignoreHref">
						<span class="icon fa-close">Cerrar Sesión</span>
					</a>
				</li>
			</ul>
		</nav>

	</div>

	<div class="bottom skel-layers-ignoreHref active">

		<!-- Social Icons -->

	</div>

</div>
<div id="section"></div>
<script src="assets/js/main.js"></script>