
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Prácticas de Laboratorio</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-5 col-md-5 col-lg-5">
							<span>Materia</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="estMatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Matemáticas
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Matemáticas</a></li>
							    <li><a href="#">Física</a></li>
							    <li><a href="#">Química</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-6">
			  	<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-3 col-sm-4 col-md-4">
							<span>Fechas</span>
				  		</div>
				  		<div class="col-xs-9 col-sm-8 col-md-8 inputContDropDown">
							<input id="practLabFchas" type="text" name="daterange" value="01/01/2015 - 01/31/2015" style="width:100%" />
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
				<div class="containerDropDown">
			  		<div class="row" style="text-align:center">
			  			<button id="downloadGeneralReport" type="button" class="btn btn-primary">
							<i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
						</button>
			  		</div>
				</div>  
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable estTable"></div>
	        <!-- <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Dropdown
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div> -->
		</div>

	</section>
</div>
<div id="practInfoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title">Práctica</h4>
        	</div>
        	<div class="col-xs-3 labelStateCont">
		        <span class="labelState">Estado</span>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
        	<div class="col-sm-6">
		        <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Fecha entrega</span>
				  <input id="fEntrega" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Tiempo entrega</span>
				  <input id="tEntrega" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
        	</div>
        </div>
        <div class="row form-group">
			<div class="col-sm-4">
		        <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">N. Profesor</span>
				  <input id="nProfesor" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-sm-4">
		        <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">N. App</span>
				  <input id="nApp" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-sm-4">
		        <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Final</span>
				  <input id="nFinal" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>	
		<div class="row form-group">
			<div class="col-sm-3">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Intentos</span>
				  <input id="nFinal" type="text" class="form-control only-read" placeholder="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
		<br>
		<h6 class="field-label">Observaciones</h6>
		<textarea id="obsrv" class="form-control only-read" rows="3"></textarea>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Subir Reporte</button>
        <button type="button" class="btn btn-primary">Descargar Reporte</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="assets/js/pract_lab.js"></script>