<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text spanTitCont"></span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1></h1>
			</div>
			<div class="container-config">
				<div class="row ">
					
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="nameSchool"></label>
							<input type="text" class="form-control profilest only-read" id="nameSchool">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="country"></label>
							<input type="text" class="form-control profilest only-read" id="country">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="city"></label>
							<input type="text" class="form-control profilest only-read" id="city">
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="serverName"></label>
							<input type="text" class="form-control profilest" id="serverName" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="serverIp"></label>
							<input type="text" class="form-control profilest" id="serverIp" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="offlineExes"></label>
							<input type="text" class="form-control profilest" id="offlineExes" placeholder="" disabled>
						</div>
					</div>
				</div>	
				<div class="row ">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="numLic"></label>
							<input type="text" class="form-control profilest" id="numLic" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="licenseState"></label>
							<input type="text" class="form-control profilest" id="licenseState" placeholder="" disabled>
						</div>
					</div>
					<!--
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="license">Dispositivos licenciados</label>
							<input type="text" class="form-control profilest" id="numUsers" placeholder="" disabled>
						</div>
					</div>
					-->
				</div>
				<div class="row ">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
				</div>
			</div>
			
			<div id="jsGrid" class="jsGridTable mGroupsTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/servidor.js"></script>