<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Servidor</h1>
			</div>
			<div class="container-config">
				<div class="row ">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="nameSchool">Nombre del servidor</label>
							<input type="text" class="form-control profilest" id="serverName" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="country">IP del servidor</label>
							<input type="text" class="form-control profilest" id="serverIp" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="license">Nombre del equipo</label>
							<input type="text" class="form-control profilest" id="deviceName" placeholder="" disabled>
						</div>
					</div>
				</div>	
				<div class="row ">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="city">Periodo de licencia</label>
							<input type="text" class="form-control profilest" id="licensePeriod" placeholder="" disabled>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group" style="text-align: left;">
							<label  class="title-label" for="license">Número de usuarios</label>
							<input type="text" class="form-control profilest" id="numUsers" placeholder="" disabled>
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
				</div>
			</div>
			
			<div id="jsGrid" class="jsGridTable mGroupsTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/servidor.js"></script>