
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Lista de profesores y estudiantes</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span>Usuarios</span>
				  		</div>
				  		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="tipoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Profesores
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" id="tipoDropdown-profesores">Profesores</a></li>
							    <li><a href="#" id="tipoDropdown-estudiantes">Estudiantes</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div class="containerDropDown">
			  		<div class="row" style="text-align: center;margin-right: 0px;">
			  			<button id="uploadUsers" type="button" class="btn btn-primary" data-toggle="tooltip" title="Ir al ranking global"  data-placement="bottom" style="margin-left:5px">
							<i class="fa fa-upload fa-2x" aria-hidden="true"></i>
						</button>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable usersTable"></div>
		</div>

	</section>
</div>

<div id="editInfoUser" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title">Información de usuario</h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
      		<div class="col-sm-8">
		        <div class="form-group">
				    <label  class="field-label" for="nameUser">Nombre de usuario</label>
				    <input type="text" class="form-control profilepf" id="nameUser" placeholder="Nombre de Usuario">
				</div>
        	</div>      		
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label  class="field-label" for="password1">Nueva contraseña</label>
				    <input type="password" class="form-control passpf" id="password1" placeholder="Contraseña">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label  class="field-label" for="password2">Repetir contraseña</label>
				    <input type="password" class="form-control passpf" id="password2" placeholder="Repetir Contraseña">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <button class="btn btn-primary" id="updatepass">Actualizar datos</button>
        	</div>
        </div>
        <div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<span class="title-label">Grupos asignados</span>
	  		</div>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listGroups" class=""  multiple="multiple"></select>
	  		</div>
  		</div>	
  		<br>
  		<div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		  		<h6 class="title-label">Asignar materias</h6>
			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listGroupsSubjets" class="form-control">
					
				</select>
	  		</div>
	  		<br>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listsubjectsGroup" class="form-control"  multiple="multiple">
					
				</select>
	  		</div>
  		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="editInfoStudent" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title">Información de estudiante</h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
      		<div class="col-sm-8">
		        <div class="form-group">
				    <label  class="field-label" for="nameUserst">Nombre de usuario</label>
				    <input type="text" class="form-control profilest" id="nameUserst" placeholder="Nombre de Usuario">
				</div>
        	</div>    		
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label class="field-label" for="passwordst1">Nueva contraseña</label>
				    <input type="password" class="form-control passst" id="passwordst1" placeholder="Contraseña">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label class="field-label" for="passwordst2">Repetir contraseña</label>
				    <input type="password" class="form-control passst" id="passwordst2" placeholder="Repetir Contraseña">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <button class="btn btn-primary" id="updatepasswst">Actualizar contraseña</button>
        	</div>
        </div>
        <div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		  		<h6 class="title-label">Grupo</h6>
			</div>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select class="form-control" id="allGroupSt">
					<option value=""></option>
				</select>
	  		</div>
  		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalUploadUsers" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title">Cargar lista de usuarios</h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="form-group">
	        <form id="uploadUsersForm" action="externals/put_lab" method="POST">
				<h6 class="field-label">Cargar usuarios</h6>
				<input id="inpFile" type="file" name="users_file" class="btn btn-default">
			</form>
			<button id="btnUploadUsers" class="btn btn-primary">Subir</button>
		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/usuarios.js"></script>