
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div>
				<h1 class="h1ContHead">
					<span class="text spanTitCont"></span>
					<span class="span">
						<img src="../assets/img/cl-header.png" class="contImgHeader">
					</span>
    			</h1>
			</div>
			<div class="containerHeader">
				<h1></h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span id="usersLabel"></span>
				  		</div>
				  		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="tipoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" id="tipoDropdown-profesores"></a></li>
							    <li><a href="#" id="tipoDropdown-estudiantes"></a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			  <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
				<div class="containerDropDown">
			  		<div class="row" style="text-align: center;margin-right: 0px;">
			  			<button id="uploadUsers" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" style="margin-left:5px">
							<i class="fa fa-upload fa-2x" aria-hidden="true"></i>
						</button>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable usersTable"></div>
		</div>

	</section>
</div>

<div id="editInfoUser" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title" id="infoUser"></h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
      		<div class="col-sm-8">
		        <div class="form-group">
				    <label  class="field-label" for="nameUser"></label>
				    <input type="text" class="form-control profilepf" id="nameUser" autocomplete="off">
				</div>
        	</div>      		
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label  class="field-label" for="password1"></label>
				    <input type="password" class="form-control passpf" id="password1" placeholder="Contraseña" autocomplete="new-password">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label  class="field-label" for="password2"></label>
				    <input type="password" class="form-control passpf" id="password2" placeholder="Repetir Contraseña" autocomplete="new-password">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <button class="btn btn-primary" id="updatepass"></button>
        	</div>
        </div>
        <div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<span class="title-label" id="grpsAssig"></span>
	  		</div>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listGroups" class=""  multiple="multiple"></select>
	  		</div>
  		</div>	
  		<br>
  		<div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		  		<h6 class="title-label" id="subjAssig"></h6>
			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listGroupsSubjets" class="form-control">
					
				</select>
	  		</div>
	  		<br>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select id="listsubjectsGroup" class="form-control"  multiple="multiple">
					
				</select>
	  		</div>
  		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

<div id="editInfoStudent" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title" id="infoUser"></h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="row form-group">
      		<div class="col-sm-8">
		        <div class="form-group">
				    <label  class="field-label" for="nameUserst"></label>
				    <input type="text" class="form-control profilest" id="nameUserst">
				</div>
        	</div>    		
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label class="field-label" for="passwordst1"></label>
				    <input type="password" class="form-control passst" id="passwordst1">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <div class="form-group">
				    <label class="field-label" for="passwordst2"></label>
				    <input type="password" class="form-control passst" id="passwordst2">
				</div>
        	</div>
        	<div class="col-sm-6">
		        <button class="btn btn-primary" id="updatepasswst"></button>
        	</div>
        </div>
        <div class="row">
  			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		  		<h6 class="title-label" id="grpLabel"></h6>
			</div>
	  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select class="form-control" id="allGroupSt">
					<option value=""></option>
				</select>
	  		</div>
  		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

<div id="modalUploadUsers" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<!--<h4 class="modal-title">Práctica</h4>-->
        <div class="row">
        	<div class="col-xs-9">
		        <h4 class="modal-title" id="loadUsrList"></h4>
        	</div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="form-group">
	        <form id="uploadUsersForm" action="externals/put_lab" method="POST">
				<h6 class="field-label" id="loadUsrs"></h6>
				<input id="inpFile" type="file" name="users_file" class="btn btn-default">
			</form>
			<button id="btnUploadUsers" class="btn btn-primary"></button>
		</div>		
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal" id="closeBtn2"></button>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/usuarios.js"></script>