
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Lista de profesores y estudiantes</h1>
			</div>
			<div class="row controlBar">
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="containerDropDown">
			  		<div class="row">
			  			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span>Usuarios</span>
				  		</div>
				  		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputContDropDown">
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" id="tipoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Profesores
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" id="tipoDropdown-profesores">Profesores</a></li>
							    <li><a href="#" id="tipoDropdown-estudiantes">Estudiantes</a></li>
							  </ul>
							</div>
				  		</div>
			  		</div>
				</div>
			  </div>
			</div>
			<div id="jsGrid" class="jsGridTable mGroupsTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/usuarios.js"></script>